/********* Mobile styles *********/

.footer {
  background-color: #2e2f42;
  display: flex;
}

.footer-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logo-link-footer {
  display: block;
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 98px;
}

.logo-studio-footer {
  color: var(--CLOUD, #f4f4fd);
}

.list-text-footer {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-sm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 72px;
}

.footer-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 72px;
}

.footer-social-media-text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-social-media-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
}

.footer-sm-link {
  width: 40px;
  height: 40px;
  border-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  opacity: 0.3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: var(--NAVY-BLUE, #2e2f42);
  width: 288px;
  height: 40px;
  flex-shrink: 0;
}

.footer-input::placeholder {
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-btn {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-top: 16px;
  margin-bottom: 96px;
}
/* .footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
}

.logo-studio-footer {
  color: #f4f4fd;
}

.logo-link-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-studio {
  color: #f4f4fd;
}

.list-text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content-container {
  margin-right: 120px;
}

.footer-social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-media-list {
  display: flex;
  gap: 16px;
}

.footer-social-media-list-item {
  width: 40px;
  height: 40px;
}

.footer-sm-container {
  margin-right: 80px;
}

.footer-sm-link {
  width: 100%;
  height: 100%;
  border-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-link:hover,
.footer-sm-link:focus {
  background-color: #31d0aa;
}

.footer-sm-icon {
  fill: #f4f4fd;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-btn {
  min-width: 165px;
  height: 40px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  border: none;
  cursor: pointer;
}

.footer-form-icon {
  margin-left: 16px;
} */
