/********* Mobile styles *********/

.navigation-list {
  display: none;
}

.contacts-list {
  display: none;
}

.top-line {
  padding: 16px 0;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio-header {
  color: var(--NAVY-BLUE, #2e2f42);
}

.open-mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  margin-left: 149px;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: translateX(100%);
  transition: transform 250ms ease-out;
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-close-menu-btn {
  position: fixed;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.navigation-mobile {
  margin-left: 16px;
  margin-top: 72px;
}

.navigation-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navigation-link-mobile {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.navigation-link-mobile-first {
  color: var(--OCEAN, #404bbf);
}

.contacts-mobile {
  margin-left: 16px;
  margin-top: 168px;
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts-link-mobile {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
}

.contacts-link-mobile-first {
  color: var(--IRIS, #4d5ae5);
}

/*!======= Tablet styles! ========*/
@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
  }
}
/*?######## Laptop styles #########*/

/* .header-content {
  display: flex;
  align-items: center;
}


.top-line {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigation-list .navigation-link {
  padding: 24px 0 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.top-line .logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-studio-header {
  color: #2e2f42;
}

.navigation-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.navigation-list .contacts-link {
  padding: 24px 0 24px;
  display: block;
}

.navigation-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
}

.navigation-list .navigation-link:hover,
.navigation-list .navigation-link:focus {
  color: #404bbf;
}

.navigation-link-first {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link-first::after {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts .contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
  color: #404bbf;
} */
