.hero-section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/background-img-mobile.jpg);
  width: 320px;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url(/images/background-img-mobile@2x.jpg);
  }
}

.hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  width: 200px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 72px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 72px;
}
/* .hero-section {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
} */
