/********* Mobile styles *********/
.our-team {
  background: var(--CLOUD, #f4f4fd);
  padding: 120px 0;
}

.our-team-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

.team-card {
  display: flex;
  width: 264px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.social-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.link-our-team {
  display: block;
  width: 40px;
  height: 40px;
  border-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-our-team:hover,
.link-our-team:focus {
  background-color: #404bbf;
}

.social-icon-svg {
  fill: #f4f4fd;
}
/*!======= Tablet styles! ========*/

@media screen and (min-width: 768px) {
  .our-team {
    width: 768px;
  }

  @media screen and (min-width: 768px) and (max-width: 1158px) {
    .team {
      width: 584px;
    }
  }

  .our-team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-card {
    display: flex;
    width: 264px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .list-title {
    color: var(--NAVY-BLUE, #2e2f42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-top: 32px;
  }

  .list-item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .our-team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }

  .social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .social-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .link-our-team {
    display: block;
    width: 40px;
    height: 40px;
    border-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-our-team:hover,
  .link-our-team:focus {
    background-color: #404bbf;
  }

  .social-icon-svg {
    fill: #f4f4fd;
  }
}
/*?######## Laptop styles #########*/
