/********* Mobile styles *********/

.hidden-text-portfolio {
  display: none;
}

.portfolio {
  width: 288px;
  display: flex;
  flex-direction: column;
}

.portfolio-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-top: 96px;
  padding-bottom: 72px;
}

.portfolio-list-item {
  display: flex;
  width: 288px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid var(--CLOUD, #f4f4fd);
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  padding-bottom: 32px;
}

.list-title-portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.list-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.portfolio-container {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

/*!======= Tablet styles! ========*/

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .image-portfolio-container {
    width: 356px;
    height: 300px;
  }
}

/*?######## Laptop styles #########*/
/* .portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 24px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .hidden-text-portfolio {
  transform: translateY(0%);
}

.image-portfolio-container {
  position: relative;
  overflow: hidden;
}

.hidden-text-portfolio {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
